<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jenkins</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
	h1 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  img {
  height: 60px;
  }
</style>
<body>
  <h1>Hello world! This app is running on web server #Push2</h1>
    <h1>Hello Jenkins</h1>
</body>
</html>
